<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>image_upload</title>
</head>
<body>
    <form action="/create" method="post" enctype="multipart/form-data">
        <label for="">Username:</label>
    <input type="text" name="username" required>
    <br><br><br>
    <input type="file" name="profile_image" required>
    <br><br><br>
    <input type="submit" name="" id="">
    </form>
    
</body>
</html>